lab2_1_xml/objects/map.dtd

<!ELEMENT map (day+)>
        <!ELEMENT day (event+)>
        <!ELEMENT event (#PCDATA)>
        <!ATTLIST day year CDATA #REQUIRED>
        <!ATTLIST day month CDATA #REQUIRED>
        <!ATTLIST day day CDATA #REQUIRED>
        <!ATTLIST event hours CDATA #REQUIRED>
        <!ATTLIST event minutes CDATA #REQUIRED>
        <!ATTLIST event description CDATA #REQUIRED>